@charset "utf-8";

.title {
  max-width: 767px;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    
  }
    }

h1{
  max-width: 767px;
  font-size: 40px;
  color: #a6865f;
  align-items: center;
  @media (min-width: 768px) {
    font-size: 64px;
}
}

ul {
  max-width: 767px;
  margin-inline: auto;
  display: flex;
  column-gap: 32px;
  font-size: 20px;
  a {
    color: black;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    font-size: 36px;
}
}
.mv {
  
  img {
    width: 80%;
    margin: auto;
    display: block;
  }
}

.container{
  margin: 0;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2{
  max-width: 767px;
  font-size: 26px;
  color: #a6865f;
  word-break: keep-all;
  display: flex;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 42px;
}
}

p{
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 34px;
}
}

.ac{
  width: 100%;
  font-size: 18px;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
   @media (min-width: 768px) {
    font-size: 34px;
}
}

.day{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 45px;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    padding-left: 180px;
}
   
}

h3{
  width: 100%;
  font-size: 22px;
  display: flex;
   @media (min-width: 768px) {
    font-size: 36px;
}
}

.da{
  display: flex;
  flex-direction: column;
   @media (min-width: 768px) {
    font-size: 24px;
}
}

h4{
  font-size: 20px;
   @media (min-width: 768px) {
    font-size: 36px;
}
}



footer{
  text-align: center;
}